.__leave_review {
  min-width: 300px;
  border-right: solid 3.5px var(--light-color);
  padding-right: 50px;

  & p {
    margin: 15px 0;
  }
  @media only screen and (max-width: 1200px) {
    width: 100%;
    border-right: 0;
    padding: 0 0 50px 0;
    border-bottom: solid 3.5px var(--light-color);
  }
}
