.__user_modal {
  width: 500px;
  background-color: var(--lightest-color);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1003;
  border-radius: 8px;
  padding: 10px 33px 31px 33px;

  .__head {
    margin-bottom: 20px;
    & div:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .__user {
        cursor: pointer;
        & img:hover {
          filter: invert(70%) sepia(43%) saturate(2197%) hue-rotate(325deg)
            brightness(89%) contrast(90%);
        }
      }
    }
    & hr {
      opacity: 0.3;
    }
  }
  .__body {
    .__forgot_password_message {
      opacity: 0.5;
    }
    .__inputs {
      margin-bottom: 30px;
      & div {
        position: relative;
      }
    }
    .__error_message {
      color: red !important;
      font-size: 11px !important;
      text-decoration: none !important;
      margin: 0 !important;
      text-align: left !important;
      cursor: default !important;
      position: absolute;
      top: 0;
      right: 0;
    }
    & p:not(:first-child) {
      text-align: center;
      font-size: 13px;
      cursor: pointer;
      color: var(--brightest-color);
      text-decoration: underline;
      &:hover {
        color: var(--bright-color);
        text-decoration: underline;
      }
      & span {
        font-weight: bolder;
        font-size: 14px;
      }
    }
    & p:last-child {
      margin-top: 20px;
    }

    > div:last-of-type {
      margin-top: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 327px;
    padding: 10px 15px 31px 15px;
  }
}
