.__overlay {
  background-color: #00000069;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
}

.__side_bar {
  width: 300px;
  height: 100%;
  z-index: 1003;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--darkest-color);
  .__close_icon {
    position: absolute;
    top: 32px;
    left: 40px;
    & img {
      filter: invert(99%) sepia(7%) saturate(2%) hue-rotate(217deg)
        brightness(116%) contrast(100%);
    }
  }
  .__links {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 30px;
    margin-top: 150px;
    & a {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .__close_icon {
      left: 20px;
    }
    .__links {
      padding-left: 20px;
    }
  }
}

.__active {
  color: var(--brightest-color);
}
