.__footer {
  background: var(--dark-color);
  display: flex;
  justify-content: space-between;
  color: var(--lightest-color);
  padding: 75px 165px 48px 165px;
  width: 100%;
  .__wrapper {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .__left_block {
      width: 540px;
      & img {
        margin-bottom: 36px;
      }
      & p:nth-child(n + 2) {
        opacity: 0.5;
      }
      & p:not(:last-child) {
        margin-bottom: 56px;
      }
    }

    .__right_block {
      .__links {
        margin-bottom: 105px;
        text-transform: uppercase;
        font-family: "Manrope", sans-serif;
        & a:not(:last-child) {
          margin-right: 34px;
        }
        & a:hover {
          color: var(--brightest-color);
        }
      }
      .__socials_icons {
        & img:not(:last-child) {
          margin-right: 16px;
        }

        & img:hover {
          filter: brightness(0) saturate(100%) invert(83%) sepia(32%)
            saturate(4598%) hue-rotate(320deg) brightness(85%) contrast(100%);
          cursor: pointer;
        }
      }
      .__credit {
        font-size: 13px;
        font-family: "Manrope", sans-serif;
        margin-top: 56px;

        & a {
          color: var(--brightest-color);
          text-decoration: underline;
          font-weight: bold;
          &:hover {
            color: var(--bright-color);
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1460px) {
    display: inherit;
    padding: 75px 0px 48px 0px;
    .__wrapper {
      width: 689px;
      position: relative;
      .__left_block {
        .__text_content {
          width: 689px;
          margin-top: 32px;
        }
      }
      .__right_block {
        .__links {
          display: block;
          position: absolute;
          left: 0;
          top: 52px;
        }
        .__socials_icons {
          position: absolute;
          bottom: 0;
          right: 0;
        }
        .__credit {
          position: absolute;
          bottom: 40px;
          left: 0;
          // opacity: 0.5;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .__wrapper {
      width: 327px;
      .__left_block {
        text-align: center;
        & p:last-child {
          margin-bottom: 70px;
        }
        .__text_content {
          width: 100%;
          margin-top: 200px;
        }
      }
      .__right_block {
        .__links {
          display: flex;
          text-align: center;
          flex-direction: column;
          left: 50%;
          transform: translate(-50%);
          & a:not(:last-child) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .__socials_icons {
          left: 50%;
          transform: translate(-50%);
          text-align: center;
          bottom: -20px;
        }
        .__credit {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
