.__overlay {
  background-color: #00000069;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
}
.__modal {
  width: 377px;
  position: fixed;
  background-color: var(--lightest-color);
  top: 129px;
  right: 165px;
  border-radius: 8px;
  z-index: 1003;
  padding: 31px 33px;
  .__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p {
      font-family: "Manrope", sans-serif;
      cursor: pointer;
      text-decoration: underline;
      color: var(--darkest-color);
      opacity: 0.5;
      &:hover {
        color: var(--brightest-color);
        opacity: 1;
      }
    }
  }
  .__body {
  }
  .__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    & p {
      text-transform: uppercase;
      opacity: 0.5;
    }
    & div {
      margin-top: 24px;
      flex-basis: 100%;
      text-align: center;
    }
  }
  .__empty_cart {
    text-align: center;
    & p:nth-of-type(2) {
      font-size: 13px;
      line-height: 130%;
      opacity: 0.5;
      margin-top: 15px;
    }
    .__links {
      margin-top: 15px;
      & a {
        color: var(--brightest-color);
        text-decoration: underline;
        &:hover {
          color: var(--bright-color);
        }
      }
      & a:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    top: 120px;
    right: 30px;
  }
  @media only screen and (max-width: 768px) {
    left: 50%;
    transform: translate(-50%);
    width: 327px;
    padding: 31px 15px;
  }
}
