.__navbar {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 32px 165px;
  width: 100%;
  position: relative;
  background: transparent;
  z-index: 999;
  flex-wrap: wrap;

  .__links {
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    & a:not(:last-child) {
      margin-right: 34px;
    }
  }
  & img {
    cursor: pointer;
  }
  .__divider {
    width: 100%;
    height: 1px;
    background-color: var(--lightest-color);
    opacity: 0.2;
    flex-direction: column;
    margin-top: 30px;
  }
}
