.__cart_summary {
  width: 350px;
  background-color: var(--lightest-color);
  border-radius: 8px;
  padding: 33px;

  .__footer {
    margin-top: 40px;
    .__total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      & p {
        text-transform: uppercase;
        opacity: 0.5;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    width: 730px;
    margin-top: 30px;
  }
  @media only screen and (max-width: 850px) {
    width: 100%;
  }
}
