.__product_info {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 160px;
  }
  &:first-child {
    margin-top: 160px;
  }
  .__image {
    width: 540px;
    height: 560px;
    position: relative;
    margin-right: 125px;
    & img {
      border-radius: 8px;
    }
  }
  .__info {
    width: 445px;

    & p:first-child {
      color: var(--brightest-color);
      margin-bottom: 16px;
    }
    & p:last-of-type {
      margin: 32px 0 40px 0;
      opacity: 0.5;
    }
    & h6 {
      margin-bottom: 47px;
      font-family: "Manrope", sans-serif;
    }
    .__stars {
      display: flex;
      margin-top: 12px;
      .__rating {
        display: flex;
        gap: 5px;
        & p {
          opacity: 1;
          color: var(--darkest-color);
          margin: 0;
        }
      }
      .__links {
        margin: 0 0 0 20px;
        display: flex;
        gap: 10px;
        padding: 0;
        & p {
          margin: 0;
        }
        & div {
          text-transform: lowercase;
          padding: 0;
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
    .__add_to_cart {
      display: flex;
      gap: 16px;
      & p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    &:first-child {
      margin-top: 100px;
    }
    .__image {
      width: 100%;
      margin: 0;
    }
    .__info {
      text-align: center;
      width: 572px;
      margin-top: 50px;
      & h2 {
        margin-bottom: 20px;
      }
      & p:last-of-type {
        margin: 0;
      }
      & h6 {
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .__see_product_btn {
        margin-top: 24px;
      }
      .__stars {
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    .__add_to_cart {
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 768px) {
    .__image {
      width: 100%;
      height: 300px;
      & img {
        object-fit: contain !important;
      }
    }
    .__info {
      width: 100%;
      & h2 {
        margin-bottom: 10px;
      }
      .__stars {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
}
.__reverse {
  order: 2;
  margin-left: 125px;
  margin-right: 0 !important;
  @media only screen and (max-width: 1200px) {
    order: inherit;
    margin-left: inherit;
  }
}
