@font-face {
  font-family: "Manrope Regular";
  src: url(../fonts/Manrope-Regular.otf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope Bold";
  src: url(../fonts/Manrope-Bold.otf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope Medium";
  src: url(../fonts/Manrope-Medium.otf) format("truetype");
  font-display: swap;
}

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope Medium", sans-serif;
  font-size: 15px;
  line-height: 25px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 1110px;
  margin: 0 auto;
  @media only screen and (max-width: 1200px) {
    width: 689px;
  }
  @media only screen and (max-width: 768px) {
    width: 327px;
  }
}

// Colors
:root {
  --light-color: #f1f1f1;
  --lighter-color: #fafafa;
  --lightest-color: #ffffff;
  --dark-color: #101010;
  --darkest-color: #000000;
  --bright-color: #fbaf85;
  --brightest-color: #d87d4a;
}

// Typography
a {
  text-decoration: none;
  color: var(--lightest-color);
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope Bold", sans-serif;
  text-transform: uppercase;
}
h1 {
  line-height: 58px;
  font-size: 56px;
  letter-spacing: 2px;
  @media only screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  @media only screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
  @media only screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.overline {
  font-family: "Manrope Regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub_title {
  font-family: "Manrope Bold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
}
