.__footer {
  background: var(--dark-color);
  display: flex;
  justify-content: space-between;
  color: var(--lightest-color);
  padding: 75px 165px 48px 165px;
  margin-top: 200px;
  width: 100%;

  .__left_block {
    width: 540px;
    & img {
      margin-bottom: 36px;
    }
    & p:nth-child(n + 2) {
      opacity: 0.5;
    }
    & p:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  .__right_block {
    .__links {
      margin-bottom: 105px;
      text-transform: uppercase;
      font-family: "Manrope", sans-serif;
      & a:not(:last-child) {
        margin-right: 34px;
      }
      & a:hover {
        color: var(--brightest-color);
      }
    }
    .__socials_icons {
      & img:not(:last-child) {
        margin-right: 16px;
      }

      & img:hover {
        filter: brightness(0) saturate(100%) invert(83%) sepia(32%)
          saturate(4598%) hue-rotate(320deg) brightness(85%) contrast(100%);
        cursor: pointer;
      }
    }
  }
}
