.__checkout {
  background-color: var(--light-color);
  .__go_back_btn {
    padding-top: 160px;
    > div {
      text-transform: capitalize;
      padding: 0;
      padding-bottom: 20px;
      font-size: 15px;
    }
  }
  .__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
    .__form {
      width: 730px;
      //   height: 1126px;
      background-color: var(--lightest-color);
      padding: 54px 46px 46px 46px;
      border-radius: 8px;
      & p {
        text-transform: uppercase;
        color: var(--brightest-color);
      }
      .__billing_details,
      .__shipping_info,
      .__payment_details {
        margin-top: 50px;
        & label {
          margin-top: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px) {
    .__go_back_btn {
      padding-top: 130px;
    }
    .__wrapper {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 850px) {
    .__form {
      width: 327px;
    }
  }
}

.__input_group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  & p {
    font-size: 12px;
    display: block;
  }
}
