.__go_back_btn {
  margin: 180px 0 56px 0;
  & div {
    text-transform: capitalize;
    padding: 0;
    font-size: 15px;
  }
  @media only screen and (max-width: 1200px) {
    margin-top: 130px;
    margin-bottom: 20px;
  }
}

.__review_container {
  display: flex;
  margin-top: 50px;
  padding-top: 110px;
  gap: 100px;
  .__reviews {
    display: flex;
    flex-direction: column !important;
  }
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    margin-top: 0;
    padding-top: 110px;
    gap: 50px;
  }
}

.__recommended_products {
  display: flex;
  gap: 30px;
  @media only screen and (max-width: 768px) {
    margin-bottom: 200px;
    flex-direction: column;
    gap: 0px;
  }
}
