.__input {
  display: inline-flex;
  flex-direction: column;
  width: 309px;
  & label {
    margin-bottom: 2px;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
  }
  & input,
  textarea {
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    padding: 18px 0 18px 24px;
    font-size: 14px;
    width: 100%;
    font-size: 14px;
    outline-color: var(--brightest-color);
    font-family: "Manrope", sans-serif;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.__isRadio {
  border: 1px solid #cfcfcf;
  width: 309px;
  border-radius: 8px;
  padding: 13px 0;
  cursor: pointer;
  & label {
    width: 100%;
    cursor: pointer;
  }
  & input {
    margin: 0 16px;
    &:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }
    &:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #ffa500;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
      border: solid 3px #d1d3d1;
    }
  }
}

.__full_width {
  //   width: 100% !important;
  width: 100%;
}

.__error {
  border: solid 2px red !important;
  outline-color: red !important;
}
