.__navbar {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  padding: 32px 165px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
  flex-wrap: wrap;
  .__burger_menu {
    display: none;
  }
  .__links {
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    & a:not(:last-child) {
      margin-right: 34px;
    }
    & a:hover {
      color: var(--brightest-color);
    }
  }
  & img {
    cursor: pointer;
    position: relative;
    z-index: 1003;
  }
  .__icons {
    display: flex;
    .__cart {
      position: relative;
      margin-right: 30px;
      cursor: pointer;
      .__cart_qty {
        background: var(--brightest-color);
        width: 3px;
        height: 3px;
        padding: 11px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -15px;
        z-index: 1005;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
    .__user {
      position: relative;
      cursor: pointer;
      & img {
        filter: invert(100%) sepia(0%) saturate(7434%) hue-rotate(45deg)
          brightness(123%) contrast(114%);
      }
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  .__divider {
    width: 100%;
    height: 1px;
    background-color: var(--lightest-color);
    opacity: 0.2;
    flex-direction: column;
    margin-top: 30px;
  }
  @media only screen and (max-width: 1200px) {
    padding: 32px 40px;

    .__burger_menu {
      display: block;
      position: relative;
      z-index: 1111;
    }
    .__links {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 32px 20px;
  }
}
.__active {
  color: var(--brightest-color);
}
